html {
    background-color: brown;
}
body {
    background-color: rgb(180, 178, 178);
    border: 5px solid grey;
    margin: 30px;
}
p, ul {
    text-indent: 25px;
    border: 3px dashed rgb(126, 44, 44);
    padding: 10px;
    margin: 10px;
}
h1, h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100px;
    border: 3px solid burlywood;
}
li {
    padding: 10px;
}