html {
    background-color: brown;
}
body {
    background-color: rgb(180, 178, 178);
    border: 5px solid grey;
    margin: 30px;
}
p {
    text-indent: 25px;
}
h1, h2 {
    text-align: center;
}
img {
    width: 100px;
    border: 3px solid burlywood;
}
