html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(233, 233, 233);
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photo img {
    width: 350px;
    height: 450px;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 5%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


img[data-icon-image] {
    width: 50px;
    height: 50px;
}

.links {
    text-align: center;
    width: 400px;
    padding: 10px;
}

.links a {
    display: inline-block;
    padding: 5px;
}

.photo {
    text-align: center;
}

.header {
    font-size: 25px;
    padding: 5px;
    text-align: center;
    width: 600px;
    height: 100px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h2 {
    text-align: center;
    color: rgb(52, 52, 138);
}

.header p {
    margin: 5px;
    padding: 2px;
}

.info {
    width: 600px;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.info p {
    text-indent: 25px;
}