@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .header {
        position: relative;
        margin-bottom: 10px;
    }

    .links {
        position: absolute;
        top: 120px;
        right: 50px;
    }

    .links a {
        display: block;
    }

    .photo img {
        width: 250px;
        height: 320px;
    }
}